*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 32px;
}

div{
    background-color: red;
    width: 420px;
    height: 420px;
}

img{
    width: 50%;
    /* height: 100%; */
}