*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 32px;
}

.elementos{
    background-color: red;
    width: 420px;
    height: 420px;
}

img{
    /* width: 50%; */
    /* height: 50cm; */
    width: 21.9vw;
    height: 21.9vh;
    /* height: 17.5em; */
}